.navbar-brand img {
  height: 40px;
  width: auto;
}

.navbar-brand span {
  font-weight: bold;
  font-size: 1.25rem;
}

.navbar-nav .nav-link {
  font-size: 1.2rem; /* Tamaño de fuente más grande */
  font-weight: 700; /* Texto más oscuro */
  color: #000; /* Color negro para más contraste */
  padding: 0.5rem 1rem;
  margin-right: 25px; /* Ajusta el valor según sea necesario para el espacio deseado */
}

.navbar-nav .nav-link:hover {
  transition: color 0.5s ease, background-color 0.5s ease;
  transform: scale(1.1);
  color: #00bfff; /* Color al pasar el ratón */
}

.navbar {
  box-shadow: 0 3px 10px darkgray;
  padding-top: 20px; /* Ajusta el valor según sea necesario para el espacio deseado */
  padding-bottom: 20px;
}
.navbar-brand {
  margin-left: -90px; /* Ajusta el valor según sea necesario para el espacio deseado */
}
.navbar-nav {
  margin-left: 50px;
  margin-right: -90px;
}
